
body{
    font-family: 'Abel', sans-serif;
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/03/20/54298/656abf1e24579f462861c98e90a065e8-700.jpg");
    background-size: cover;
}

h1 {
    margin-bottom: 40px; 
}  


#final-family-name{
    font-size: 80px;
    color: white;
    text-align: center;
         

}
.GreyjoyImg {
    border-style: solid;
    border-width: 5px;
    color: white; 
    max-width: 100%;
    max-height: 100%; 
    margin-bottom: 40px;
    margin-top: 20px;
    
}
.card-header{
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    color: #e8da20;
}

.articles {
    background-color: white; 
    max-width: 100%;
    max-height: 100%;
}