body{

    height: 100%;

    background-image: url("https://i.pinimg.com/originals/a5/84/84/a5848450f4a286d88c07df41876aaca0.jpg");

    font-family: 'Abel', sans-serif;

    /* font-weight: bolder; */

    background-size: cover;

    letter-spacing: 2px;
}

h1 {
    margin-bottom: 40px; 
    color: white;
}  


#final-family-name{

    text-align: center;

    font-size: 70px;
    color: white;


}
.card-header{
    font-size: 30px;
    font-weight: bold;
    background-color: #910601;
    color: #ceb988;
}

.LannisterImg {
    border-style: solid;
    border-width: 5px;
    color: white; 
    max-width: 100%;
    max-height: 100%; 
    margin-bottom: 40px;
    margin-top: 20px;
}

.articles {
    background-color: white; 
    max-width: 100%;
    max-height: 100%;
}
#nameOfThe{
    font-size: 25px;
    text-align: center;
}