Body{
    height: 100%;
    font-family: 'Abel', sans-serif;
    background-image: url("http://images6.fanpop.com/image/photos/35900000/House-Martell-house-martell-35977383-1920-1080.jpg");

   

    /* font-weight: bolder; */

    background-size: cover;

    letter-spacing: 2px;

  
}

h1 {
    margin-bottom: 40px; 
}  

#final-family-name{
    font-size: 80px;
    text-align: center;
    color: white;

}

.MartellImg {
    border-style: solid;
    border-width: 5px;
    color: white; 
    max-width: 100%;
    max-height: 100%; 
    margin-bottom: 40px;
    margin-top: 20px;
    
}
.card-header{
    font-size: 30px;
    font-weight: bold;
    background-color: #c45113;
    color: #9b1b1b;
}

.articles {
    background-color: white; 
    max-width: 100%;
    max-height: 100%;
}
#nameOfThe{
    font-size: 25px;
    text-align: center;
}