body{

    height:100%;

    background-image: url("http://s4.scoopwhoop.com/anj/hjhgkmk/397822944.jpg");
   

    font-family: 'Bilbo', cursive;

    /* font-weight: bolder; */
    /* background-repeat: no-repeat; */
    background-size: cover;

    letter-spacing: 2px;

}

.container{

    /* margin-top: 360px; */

    /* height: 655px;

    width: 2000px; */

    position: absolute;

    top: 50%;

    left: 50%;

    transform : translate(-50%) translateY(-50%);

   

    padding: 20px;

    border: 1px solid black;

    box-shadow: 0 0  8px 3px #fff;

}

 

#title{

    /* padding-top: 5px; */

    text-align: center;

    font-size: 50px;

    /* text-transform: uppercase; */

    color: white;

 

}

 

#question{

padding: 5px;

font-size: 35px;

/* opacity: 0.5;

filter: alpha(opacity=50); */

border-radius: 20px;

margin: 20px 30px 20px ;

color: white;

text-align: center;

 

}

 

.option{

    /* width: 470px; */

    font-size: 25px;

    /* display: inline-block; */

    padding: 5px 0 5px 15px;

    vertical-align: middle;

   

    /* margin: 10px 0 10px 10px; */

    color: white;

    border-radius: 10px;

}

 

.option:hover{

   

    background: white;

    color: black;

 

}

 

.next-btn{

border: none;

outline: none;

background: rgba (255, 25, 255, 0.5);

width: 150px;

height: 35px;

border-radius: 20px;

cursor: pointer;

float: right;

margin-right: 60px;

}

 

.next-btn:hover{

    background: grey;

    color: black;

}

/*

.result{

    height: 100px;

    text-align: center;

    font-size: 75px;

}

 

.option input:checked .option{

    background: grey;

    color: red;

} */

 