body{
    height: 100%;
    font-family: 'Abel', sans-serif;
    background-image: url(" https://wallpaperplay.com/walls/full/1/5/6/228235.jpg");

   

    /* font-weight: bolder; */

    background-size: cover;

    letter-spacing: 2px;

    color: white;
   
}
#final-family-name{
    text-align: center;
    font-size: 80px;

}
.card{
    color: black;

}
#paragraph{
    font-size: 25px;
}

.StarkImg {
    border-style: solid;
    border-width: 5px;
    color: white; 
    max-width: 100%;
    max-height: 100%; 
    
}
.card-header{
    font-size: 30px;
    font-weight: bold;
}