img {
    margin: 10px; 
}

.modal-body {
    align-content: center;
}
body{
    background-color: black;
    color: white; 
   
}

#center-piece{
    position: relative;
    max-width: 400px;
    text-align: center;
   
}

.flags{
    position: absolute;
    width: 100%;
    margin-top: 500px;
}

.avatar{
    width: 100px;
    height: 100px;
}

