body{
    height: 100%;
    font-family: 'Abel', sans-serif;
    background-image: url("http://www.portoalegre.travel/upload/b/68/681453_targaryen-iphone-wallpaper.jpg");

    /* font-weight: bolder; */

    background-size: cover;

    letter-spacing: 2px;
}

h1 {
    margin-bottom: 40px; 
    color: white;
}  
    

#final-family-name{
    background: white;
    text-align: center;
    font-size: 60px;
    color: black;
    border-radius: 5px;
}
.card-header{
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    color: red; 
}


.TargaryenImg {
    border-style: solid;
    border-width: 5px;
    color: white; 
    max-width: 100%;
    max-height: 100%; 
    margin-bottom: 40px; 
    margin-top: 20px
    
}

.articles {
    background-color: white; 
    max-width: 100%;
    max-height: 100%;
}
#nameOfThe{
    font-size: 25px;
    text-align: center;
}