body{
    height: 100%;
    font-family: 'Abel', sans-serif;
    background-image: url("http://www.portoalegre.travel/upload/b/68/681453_targaryen-iphone-wallpaper.jpg");

    /* font-weight: bolder; */

    background-size: cover;

    letter-spacing: 2px;

    
    
}
#final-family-name{
    text-align: center;
    font-size: 60px;
    color: white;
}
p{
<<<<<<< HEAD
    font-size: 30px;
}

.TargaryenImg {
    border-style: solid;
    border-width: 5px;
    color: white; 
    max-width: 100%;
    max-height: 100%; 
    
=======

>>>>>>> a3cd36052af58194bdc51f41c3032489e9519c89
}