body{
    font-family: 'Abel', sans-serif;
    background-image: url("http://i.imgur.com/9JAg7aN.jpg");
    background-size: cover;
}
#final-family-name{
    text-align: center;
    color: white;
    font-size: 80px;
}
.WildlingImg {
    border-style: solid;
    border-width: 5px;
    color: white; 
    max-width: 100%;
    max-height: 100%; 
    
}
.card-header{
    font-size: 30px;
    font-weight: bold;
}
