
body{
    height: 100%;
    font-family: 'Abel', sans-serif;
    background-image: url("/assets/Images/freefolkBanner.jpg");

   

    /* font-weight: bolder; */

    background-size: cover;

    letter-spacing: 2px;

    color: white;
   
}

#final-family-name{
    text-align: center;
}

.WildlingImg {
    border-style: solid;
    border-width: 5px;
    color: white; 
    max-width: 100%;
    max-height: 100%; 
    
}